<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</head>
	<body ng-app="MyApp">
		<div ng-controller="MainController as ctrl">
			<div style="text-align:center">
				<input type="radio" name="theme" ng-value="ctrl.yellow" ng-model="ctrl.themeSelected">Yellow
				<input type="radio" name="theme" ng-value="ctrl.blue" ng-model="ctrl.themeSelected">Blue
				<input type="radio" name="theme" ng-value="ctrl.green" ng-model="ctrl.themeSelected">Green
				<input type="radio" name="theme" ng-value="ctrl.red" ng-model="ctrl.themeSelected">Red
				<input type="radio" name="theme" ng-value="ctrl.none" ng-model="ctrl.themeSelected">None
			</div>
		</div>
	</body>
</html>