.ylw{
	background-color: #FFEB3B;
}

.ylw #partOne div:nth-of-type(2){
	background-color: #FFFF00;
	width: 50%;
	float: left;
}

.ylw #partOne div:nth-of-type(3){
	background-color: #FFD600;
	width: 50%;
	float: right;
}

.bl{
	background-color: #2196F3;
}

.bl #partOne div:nth-of-type(2){
	background-color: #40C4FF;
	width: 50%;
	float: left;
}

.bl #partOne div:nth-of-type(3){
	background-color: #0091EA;
	width: 50%;
	float: right;
}

.grn{
	background-color: #4CAF50;
}

.grn #partOne div:nth-of-type(2){
	background-color: #69F0AE;
	width: 50%;
	float: left;
}

.grn #partOne div:nth-of-type(3){
	background-color: #00C853;
	width: 50%;
	float: right;
}

.rd{
	background-color: #F44336;
}

.rd #partOne div:nth-of-type(2){
	background-color: #FF5252;
	width: 50%;
	float: left;
	color: #FFFFFF;
}

.rd #partOne div:nth-of-type(3){
	background-color: #D50000;
	width: 50%;
	float: right;
	color: #FFFFFF;
}

.nne{
	background-color: #FFFFFF;
	color: #000000;
}

.nne #partOne div:nth-of-type(2){
	background-color: #FFFFFF;
	width: 50%;
	float: left;
	color: #000000;
}

.nne #partOne div:nth-of-type(3){
	background-color: #FFFFFF;
	width: 50%;
	float: right;
	color: #000000;
}

.lCol{
	width: 50%;
	float: left;
}

.rCol{
	width: 50%;
	float: right;
}

.btm{
	position: absolute;
	bottom: 0;
}
