<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
		<script type="text/javascript" src="index.js"></script>
		<script type="text/javascript" src="services.js"></script>
	</head>
	<body ng-app="MyApp">
		<div ng-controller="MainController as ctrl">
			<div ng-repeat="car in ctrl.myCars">
				<label>Make: </label><span ng-bind="car.make"></span>
			</div>
		</div>

		<div ng-controller="SecondController as ctrl">
			<div ng-repeat="car in ctrl.myCars">
				<label>Make: </label><span ng.bind="car.make"></span>
			</div>
		</div>

	</body>
</html>